{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "quotes": "off",
    "object-curly-spacing": "off",
    "semi": "off",
    "indent": "off",
    "arrow-parens": "off",
    "semi-style":"off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
