// TODO: Remove oclif defaults and add own plugins.
{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "quotes": "off",
    "object-curly-spacing": "off",
    "semi": "off",
    "indent": "off",
    "arrow-parens": "off",
    "semi-style": "off",
    "no-warning-comments": "off",
    "comma-dangle": "off",
    "valid-jsdoc": "off",
    "no-await-in-loop": "off",
    "no-eq-null": "off",
    "eqeqeq": "off",
    "no-negated-condition": "off",
    "operator-linebreak": "off",
    "unicorn/error-message": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-use-before-define": "off"
  }
}
