// TODO: Remove oclif defaults and add own plugins.
{
  "extends": ["oclif", "oclif-typescript", "eslint-config-prettier"],
  "rules": {
    "no-eq-null": "off",
    "eqeqeq": "off",
    "no-await-in-loop": "off",
    "no-else-return": "off",
    "no-negated-condition": "off",
    "@typescript-eslint/no-use-before-define": "off"
  }
}
