.inlineCode {
  border-radius: 0.5em;
  padding: 0.5em;

  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 0.8em;
  background-color: hsl(0, 0%, 95%);
  @media (prefers-color-scheme: dark) {
    background-color: hsl(0, 0%, 25%);
  }
}
