.landingPageTemplate {
  color: black;
  background-color: white;
  @media (prefers-color-scheme: dark) {
    color: #eee;
    background-color: hsl(0, 0%, 20%);
  }
}

.textGradient {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top right, #6838f1, #dc51f2);
}

.headerSection {
  margin-top: 60px;
  margin-bottom: 20px;
  gap: 40px;
}

.textContainer {
  gap: 0.5rem;
}

.technologyGrid {
  margin-top: 50px;
}
